html {
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    font-family: Arial;
}

body a{
    color: #62310e;
    text-decoration: none;
}

body a:visited{
    color: #62310e;
}

body a:hover{
    text-decoration: underline;
}

#title{
    margin-left: 30px;
}

h1{
    font-size:72px;
    color:white;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing:-2px;
    margin: 0px;
}
 

#main{
    align: center;
    margin:30px;
    padding: 20px;
    background-color:rgba(255, 255, 2555, 0.6);
    min-height: 750px;
}

#top_header{
    text-align: right;
    color: #ffffff;
}

#top_header a{
    text-align: right;
    color: #ffffff;
}
